body{
    background-image: url(images/city.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-weight: bold;
    font-size: 6.5rem;
    background-attachment: fixed;
    color: white;
    background-color: hsla(0, 0%, 50%, 0.103);
    border-radius: 5px;
    backdrop-filter: blur(5px);
}